<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12320168686-5flftv4aabgoajg6k0hbolr00taqh1h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12320168686-5flftv4aabgoajg6k0hbolr00taqh1h4</string>
	<key>API_KEY</key>
	<string>AIzaSyDviRS4c-CoTVQvauHd7NF9DVnrBfJ59AA</string>
	<key>GCM_SENDER_ID</key>
	<string>12320168686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chatapp-675c9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chatapp-675c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12320168686:ios:313ccef4bfaf282825b1ff</string>
</dict>
</plist>